@import "mixins";

:root {
  --tk-text: #2C2C2C;
  --tk-primary: #FF6F61;
  --tk-secondary: #F7F1EE;
  --tk-secondary-text: #666666;
  --tk-color-gray: #E8E8E8;
  --tk-color-gray-2: #CCCCCC;
  --tk-color-gray-dark: #5A5A5A;
  --tk-color-money-green: #27AE60;
  --tk-color-blue: #2980B9;
  --tk-link-color: var(--tk-primary);


  --tk-color-white: #ffffff;
  --tk-color-black: #000000;

  --tk-spacing-xs: 3px;
  --tk-spacing-sm: 5px;
  --tk-spacing-md: 10px;
  --tk-spacing-lg: 20px;
  --tk-spacing-xl: 25px;

  --tk-radius-xs: 3px;
  --tk-radius-sm: 5px;
  --tk-radius-md: 7px;
  --tk-radius-lg: 10px;
  --tk-radius-xl: 15px;
}

* {
  box-sizing: border-box;
}

html {
  height:auto;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: var(--tk-text);
  background-color: var(--tk-color-gray) !important;
  height: auto;
}

fieldset {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--tk-link-color);
}

// Mantine overrides
.mantine-InputWrapper-root, .mantine-Switch-root {
  margin-bottom: var(--tk-spacing-lg);
}

.mantine-ScrollArea-viewport {
  padding-bottom: 0;
}

.mantine-Modal-content {
  @include scrollbar();
}

.mantine-SimpleGrid-root {
  .mantine-InputWrapper-root, .mantine-Switch-root {
    //margin-bottom: 0;
  }
}